# Django-specific files
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Virtual Environment
.env
venv/
env/

# IDE-specific files (e.g., PyCharm, VS Code)
.idea/
.vscode/

# Operating System files
.DS_Store
Thumbs.db

# Other files
.coverage
.tox/
.eggs/